/RoomManager.suo
/.vs
/RoomManager/bin
/RoomManager/obj
/RoomManager/App.config
/TestQuanLy/bin
/TestQuanLy/obj
/TestQuanLy/App.config
/SPUnitTest/bin
/SPUnitTest/obj
/SPUnitTest/App.config
/Test SQL/bin
/Test SQL/obj
